/*==========================
    General
==========================*/
*{
    padding: 0;
    margin: 0;
}

:root{
    
}

body{
    
}

section{
    width: 100vw;
    height: 100vh;
}

/*==========================
    Index
==========================*/